<h1>Developers</h1><br>
  <% Developer.all.each do |d|%>
    <h4><p class="text-muted"><a href="/developers/<%=d.slug%>"><%= d.name %></a> // <a href="<%=d.github%>"><%= d.github %></a></h4>
    <br>
  <%end%>