<!-- <div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Login success!</strong>
</div> -->

<h1>Welcome, <%=current_dev.name%>!</h1>
<h3>Your Projects:</h3>