  <% if @message.errors.any? %>
    <div id="error_explanation">
      Message could not be sent because of the following errors:
      <ul>
      <% @message.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h1>Send a Message</h1><br>

    <form action="/developers/<%=@dev.slug%>/messages/new/<%=@np.slug%>" method="post">
      <input type="hidden" name="message[recipient]" value="<%=@np.email%>"><br></br>
      <label for="subject">Subject:</label>
      <input type="text" name="message[subject]" placeholder="Message Subject"><br></br>
      <textarea name="message[content]" cols='30' rows="10" placeholder="Write your message here"></textarea><br></br>
      <button type="submit" value="Send">Send</button>
    </form>