<h1>New Project</h1><br>
<form action="/projects" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" placeholder="Project Name"><br></br>
  <label for="duedate">Due Date: </label>
  <input type="date" name="duedate"><br></br>
  </textarea><textarea name="project_specs" placeholder="Project Description" cols="30" rows="10"></textarea><br></br>
  <input type="submit" value="Create Project">
</form>