<% if @project.errors.any? %>
  <div id="error_explanation">
    Project could not be created because of the following errors:
    <ul>
    <% @project.errors.full_messages.each do |msg|%>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>New Project</h1><br>
<form action="/<%=current_np.slug%>/projects" method="post">
  <label for="name">Name: </label>
  <input type="text" name="project[name]" placeholder="Project Name"><br></br>
  <label for="due_date">Due Date: </label>
  <input type="date" name="project[due_date]"><br></br>
  </textarea><textarea name="project[project_specs]" placeholder="Project Description" cols="30" rows="10"></textarea><br></br>
  <input type="submit" value="Create Project">
</form>