<h1><%= @nonprofit.name %></h1>
<h3><p class="text-primary">Project: <%= @project.name %></p></h3><br>
<h4>Due Date:</h4>
<%= @project.due_date %>
<h4>Project Description:</h4>
<%= @project.project_specs %>