<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nonprofit's Index</title>
</head>
<body>
  <h1>Hey nonprofit, hey!</h1>
  <a href="/nonprofits/signup">Sign Up</a><br>
  <a href="/nonprofits/login">Log In</a>
</body>
</html>