<!DOCTYPE html>
<head>
  <title>Nonprofits Show Page</title>
</head>
<body>
  <h1>Nonprofits:</h1>
  <% Nonprofit.all.each do |np| %>
  <h3><a href="/nonprofits/<%=np.slug%>"><%= np.name %></a></h3>
  <%end%>
</body>
</html>