<h1>Meaningful Code</h1>

<h3><p class="text-primary">Who We Are:</h3>

<div style="width:650px;">
Meaningful Code was started by an artist turned developer, whose dream is to help make the world a little better somehow. We are passionate about giving back to those who work tirelessly to serve others, and we hope that together, we can make a meaningful and lasting difference.
</div>

<h3><p class="text-primary">Our Mission:</h3>
<div style="width:650px;">
Meaningful Code was created to aid budding nonprofit organizations with their web and/or mobile development needs. We strive to build a platform in which developers and nonprofits can unite for a common cause. 
</div>
