<!DOCTYPE html>

<head>
  <title>Meaningful Code Index</title>
</head>
<body>
  <h1>Welcome to Meaningful Code!</h1>
  <h3><p class="text-primary">Tell us who you are:</h3><br>
  <form name="developers" method="post" action="/developers"> 
    <button type="submit" class="link"><h4>Developer</h4></button>
  </form><br>

  <form name="developers" method="post" action="/nonprofits"> 
    <button type="submit" class="link"><h4>Nonprofit Organization</h4></button>
  </form>

</body>
</html>